@import './vendors/bootstrap.scss';

@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/helpers';

@import './base/base';
@import './base/typography';

@import './components/buttons';

@import './layout/footer';
@import './layout/sections';

@import './sections/about';
@import './sections/contact';
@import './sections/hero';
@import './sections/projects';

.cc-banner {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.cc-link {
    opacity: 1;
    font-weight: bold;
    color: #43C6AC !important;

    &:hover {
        color: #fff !important;;
    }
}

.cc-btn:hover {
    color: #43C6AC;
    border-color: #43C6AC;
}